@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Estilo para el header */
h1 {
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

h3 {
  color: #5733FF;
}

.encabezado {
  display: flex;
  align-items: center;
  background-image: url("../imagenes/fondos/rastafriki.jpg");
  background-repeat: initial;
  padding: 10px;
}
.encabezado__logo {
  width: 200px;
}
.encabezado__titulo {
  color: #ffffff;
  flex-grow: 1;
  text-align: center;
}
.encabezado__subtitulo {
  color: #ffffff;
}

/* Estilo para la navegación */
.navegacion__lista {
  margin-top: auto; /* Mueve la navegación hacia abajo */
}
.navegacion__lista li {
  display: block; /* Cambiamos a bloque para que cada elemento esté en una línea */
  margin-bottom: 10px; /* Añadimos un poco de espacio entre los elementos */
}
.navegacion__lista a {
  color: #ffffff;
  padding: 10px;
  text-decoration: none; /* Quitamos el subrayado del enlace */
}
.navegacion__lista a:hover {
  color: #ff0000; /* Cambia el color al pasar el cursor sobre el enlace */
}

body {
  background: #1E9600; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF0000, #FFF200, #1E9600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.principal__foto {
  width: 100%;
}
.principal__titulo {
  display: flex;
  justify-content: center;
}
.principal__texto {
  display: flex;
  justify-content: center;
}

/*aside home*/
.partidos {
  display: flex;
}
.partidos__titulo {
  display: flex;
  justify-content: center;
}
.partidos img {
  padding: none;
  margin: none;
  width: 200px;
  height: auto;
  width: 200px;
  height: auto;
}

/*section home*/
.goleadores {
  display: flex;
  flex-direction: column;
  text-align: center; /* Para centrar el texto y las imágenes dentro del contenedor */
}
.goleadores__imagen {
  display: block; /* Cambiado a display block */
  margin: 0 auto; /* Centrar horizontalmente */
  max-width: 100%; /* Para asegurarse de que la imagen no exceda su contenedor */
}
.goleadores__titulo {
  display: flex;
  justify-content: center;
}
.goleadores__subtitulo {
  display: flex;
  justify-content: center;
}
.goleadores__puestos {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Espacio superior para separar del contenido superior */
}
.goleadores__puestos img {
  max-width: 100%; /* Para asegurarse de que las imágenes no excedan su contenedor */
  height: auto; /* Mantener la proporción de aspecto */
}
.goleadores__puestos-item {
  margin: 0 10px; /* Espacio horizontal entre los contenedores de puestos */
  max-width: 100%; /* Para asegurarse de que los contenedores no excedan su contenedor padre */
  text-align: center; /* Centrar el contenido dentro de los contenedores */
  display: inline-block; /* Cambiado a inline-block para que los contenedores se ajusten al contenido */
}

/*main galery*/
.galery {
  align-content: space-evenly;
}
.galery a img {
  padding: none;
  margin: 20px;
  width: none;
  height: 220px;
  display: inline-block;
  justify-content: center;
  border-radius: 5%;
  box-shadow: 5px 12px 18px black;
}

/* Estilo para el carrusel */
.carrusel-contenedor {
  display: flex;
  flex-direction: column;
}
.carrusel-contenedorcarousel-inner {
  width: 99%; /* Hacer que el carrusel ocupe todo el ancho disponible */
}
.carrusel-contenedorcarousel-inner img {
  padding: none;
  margin: none;
  width: 99%;
  height: auto;
}

/*main indumentaria*/
.catalogo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.catalogo__juego {
  margin-bottom: 20px; /* Espaciado entre cada sección de galería */
}
.catalogo__juego__galerias {
  display: inline-block;
  width: auto; /* Hacer que las imágenes ocupen todo el ancho disponible */
}
.catalogo__juego__galerias img {
  display: inline-block;
  width: auto;
  max-height: 250px; /* Mantener la proporción de aspecto */
}
.catalogo__entreno {
  margin-bottom: 20px; /* Espaciado entre cada sección de galería */
}
.catalogo__entreno__galerias {
  display: inline-block;
  width: auto; /* Hacer que las imágenes ocupen todo el ancho disponible */
}
.catalogo__entreno__galerias img {
  display: inline-block;
  width: auto;
  max-height: 250px; /* Mantener la proporción de aspecto */
}
.catalogo__social {
  margin-bottom: 20px; /* Espaciado entre cada sección de galería */
}
.catalogo__social__galerias {
  display: inline-block;
  width: auto; /* Hacer que las imágenes ocupen todo el ancho disponible */
}
.catalogo__social__galerias img {
  display: inline-block;
  width: auto;
  max-height: 250px; /* Mantener la proporción de aspecto */
}
.catalogo__muestras {
  display: flex;
  justify-content: center;
  text-align: center;
}
.catalogo__muestras img {
  padding: none;
  margin: 20px;
  width: none;
  height: 220px;
  flex-wrap: wrap;
  border-radius: 5%;
  box-shadow: 5px 12px 18px black;
}

/*main sponsors*/
.grid-contenedor {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  grid-template-rows: auto 0.2fr auto;
  grid-template-areas: "encabezado encabezado encabezado encabezado" "sponsors   sponsors   sponsors   sponsors" "pie        pie        pie        pie";
}

.encabezado {
  grid-area: encabezado;
}

.sponsors {
  grid-area: sponsors;
}

.pie {
  grid-area: pie;
}

.sponsors {
  display: flex;
}
.sponsors img {
  width: 200px;
  height: auto;
  border-radius: 5%;
  box-shadow: 5px 12px 18px black;
  grid-column: span 4; /* Las imágenes ocuparán todas las 4 columnas */
}

.sponsors .tabla tr th {
  border: 1px solid black;
}
.sponsors .tabla tr td {
  border: 1px solid black;
}

/* inscribirme */
.inscripciones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/*footer*/
.pie {
  background-image: url("../imagenes/fondos/rastafriki.jpg");
  background-repeat: initial;
}
.pie__subtitulo {
  text-align: center;
  background-color: #2ed32e;
}
.pie__texto {
  text-align: center;
  background-color: #2ed32e;
}
.pie a {
  display: inline-block;
  text-align: center;
  margin: auto;
}
.pie a img {
  text-align: center;
  padding: none;
  margin: none;
  width: 100px;
  height: auto;
}
.pie__redes {
  display: flex;
  align-content: space-around;
}
.pie__redes a img {
  width: 100px;
}
.pie__logos {
  display: flex; /*deberia derle el display al padre de todos o lo dejo en estas 2 secciones*/
  align-content: space-around;
}
.pie__logos img {
  display: inline-block;
  justify-content: space-between;
  margin: auto;
  height: 210px;
}

/* media queries*/
@media (max-width: 768px) {
  /* encabezado */
  .encabezado__subtitulo {
    display: none;
  }
  /* index */
  .partidos__texto {
    display: none;
  }
  /* Indumentaria */
  .catalogo__muestras {
    display: none;
  }
  .grid-contenedor { /* sponsors */
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-areas: "encabezado encabezado" "sponsors   sponsors" "pie        pie";
  }
  /* inscribirme */
  .inscripciones {
    flex-direction: column;
    align-items: center;
  }
  /* footer */
  .pie__redes a img {
    width: 40px;
  }
  .pie__logos img {
    display: flex;
    align-content: space-around;
    height: 70px;
  }
}
@media (max-width: 576px) {
  /* encabezado */
  .encabezado__subtitulo {
    display: none; /* lo borro porque no da el lugar */
  }
  /* index */
  .partidos img {
    width: 20%;
    display: flex;
  }
  /* Indumentaria */
  .catalogo__muestras {
    display: none;
  }
  /* sponsors */
  .grid-contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-areas: "encabezado" "sponsors" "pie";
  }
  /* inscribirme */
  .inscripciones {
    flex-direction: column;
    align-items: center;
  }
  /* footer */
  .pie__redes a img {
    width: 40px;
  }
  .pie__logos img {
    display: flex;
    align-content: space-around;
    height: 70px;
  }
}

/*# sourceMappingURL=main.css.map */
