/* Estilo para el header */

// Definición del mapa de colores para los títulos
$colores-titulos: (
  h1: #ffffff,
  h2: #ffffff,
  h3: #5733FF
);

// Iteración sobre el mapa
@each $titulo, $color in $colores-titulos {
  #{$titulo} {
    color: $color;
  }
}

.encabezado {
    display: flex;
    align-items: center;
    background-image: url('../imagenes/fondos/rastafriki.jpg');
    background-repeat: initial;
    padding: 10px;

    &__logo {
        width: 200px;
    }

    &__titulo {
        color: #ffffff;
        flex-grow: 1;
        text-align: center;
    }

    &__subtitulo {
        color: #ffffff;
    }  
}
/* Estilo para la navegación */
.navegacion {
    &__lista {
        margin-top: auto; /* Mueve la navegación hacia abajo */
        li {
            display: block; /* Cambiamos a bloque para que cada elemento esté en una línea */
            margin-bottom: 10px; /* Añadimos un poco de espacio entre los elementos */
        }
        a {
            color: #ffffff;
            padding: 10px;
            text-decoration: none; /* Quitamos el subrayado del enlace */
        }
        a:hover {
            color: #ff0000; /* Cambia el color al pasar el cursor sobre el enlace */
        }
    }
}
