/*footer*/
.pie{
    background-image: url('../imagenes/fondos/rastafriki.jpg');
    background-repeat: initial;
    &__subtitulo{
        text-align: center;
        background-color: #2ed32e;
     
    }
    &__texto{
        text-align: center;
        background-color: #2ed32e;
    
    }
    a{
        display: inline-block;
        text-align: center;
        margin: auto;
        img{
            text-align: center;
            @include aire (none, none, 100px, auto);
        }
    }
    &__redes{
        display: flex;
        align-content: space-around;
        a{
            img{
                width: 100px;
            }
        }
    }
    &__logos{
        display: flex; /*deberia derle el display al padre de todos o lo dejo en estas 2 secciones*/
        align-content: space-around;
        img{
            display: inline-block;
            justify-content: space-between;
            margin: auto;
            height: 210px;
        }
    }
}