body{
    background: #1E9600;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0000, #FFF200, #1E9600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__foto{
        max-width: 100%;
    }
    &__texto{
        text-align: justify;
        max-width: 80%;
        font-size: x-large;
    }
}
/*aside home*/
.partidos{
    display: flex;
    align-items: center;
    padding: 2% 10%;
    &__escudos{
        @include flex-jcc;
        display: block;
    }

    &__titulo{
        @include flex-jcc;
    }
    &__texto{
        font-size: medium;
    }
    img{
        @include aire (25px, none, 200px, auto);
        padding: 3%;
    }
}

/*section home*/


.goleadores{
    display: flex;
    flex-direction: column;
    text-align: center; /* Para centrar el texto y las imágenes dentro del contenedor */
    &__imagen{
        display: block; /* Cambiado a display block */
        margin: 0 auto; /* Centrar horizontalmente */
        max-width: 100%; /* Para asegurarse de que la imagen no exceda su contenedor */
    }
    &__titulo{
        @include flex-jcc;    }
    &__subtitulo{
        @include flex-jcc;    }
    &__puestos{
        @include flex-jcc;
        margin: 3%;     
        
        img{
            max-width: 100%; /* Para asegurarse de que las imágenes no excedan su contenedor */
            height: auto; /* Mantener la proporción de aspecto */
        
        }
        &-item{
            margin: 0 10px; /* Espacio horizontal entre los contenedores de puestos */
            max-width: 100%; /* Para asegurarse de que los contenedores no excedan su contenedor padre */
            text-align: center; /* Centrar el contenido dentro de los contenedores */
            display: inline-block; /* Cambiado a inline-block para que los contenedores se ajusten al contenido */
        
        }
    }

}


/*main galery*/
//main galery
.galery{
    align-content: space-evenly;
        a{
            img{
                @include aire (none, 20px, none, 220px);
                display: inline-block;
                justify-content: center;
                border-radius: 5%;
                box-shadow: 5px 12px 18px black;
            }
        }
}
/* Estilo para el carrusel */
.carrusel-contenedor{
    display: flex;
    flex-direction: column;
    &carousel-inner{
        max-width: 99%; /* Hacer que el carrusel ocupe todo el ancho disponible */
        img{
            @include aire (none, none, 99%, auto);
        }
    }
}
/*main indumentaria*/
.catalogo{
    @include flex-jcc;
    flex-direction: column;
    &__muestras{
        @include flex-jcc
    }
    &__juego{
        margin-bottom: 20px; /* Espaciado entre cada sección de galería */
        &__galerias{
            display: inline-block;
            width: auto; /* Hacer que las imágenes ocupen todo el ancho disponible */
            img{
                display: inline-block;
                width: auto;
                max-height: 250px; /* Mantener la proporción de aspecto */
            }
        }
    }
    &__entreno{
        margin-bottom: 20px; /* Espaciado entre cada sección de galería */
        &__galerias{
            display: inline-block;
            width: auto; /* Hacer que las imágenes ocupen todo el ancho disponible */
            img{
                display: inline-block;
                width: auto;
                max-height: 250px; /* Mantener la proporción de aspecto */
            }
        }
    }
    &__social{
        margin-bottom: 20px; /* Espaciado entre cada sección de galería */
        &__galerias{
            display: inline-block;
            width: auto; /* Hacer que las imágenes ocupen todo el ancho disponible */
            img{
                display: inline-block;
                width: auto;
                max-height: 250px; /* Mantener la proporción de aspecto */
                margin-bottom: 1%
            }
        }
    }
    &__muestras{
        @include flex-jcc;
        text-align: center;
        img{
            @include aire (none, 20px, none, 220px);
            flex-wrap:wrap ;
            border-radius: 5%;
            box-shadow: 5px 12px 18px black;
        }
    }
}

/*main sponsors*/


.grid-contenedor{
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: auto 0.2fr auto;
    grid-template-areas: 
    "encabezado encabezado encabezado encabezado"
    "sponsors   sponsors   sponsors   sponsors"
    "pie        pie        pie        pie"
    ;
}
.encabezado{
    grid-area: encabezado;
}
.sponsors{
    grid-area: sponsors;
    
}
.pie{
    grid-area: pie;
}
.sponsors{
    display: flex;
    img{
        width: 200px;
        height: auto;
        border-radius: 5%;
        box-shadow: 5px 12px 18px black;
        grid-column: span 4; /* Las imágenes ocuparán todas las 4 columnas */
    }
}
/*.sponsors 
tabla para inscribirse, proyecto para mas aelante
.tabla{
     tr{
        th{
            border: 1px solid black;
        }
        td{
            border: 1px solid black;
        }
    }
}
*/
/* inscribirme main*/

.inscripciones{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3%;
}

.planilla{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}