//variables
//tipografias
$Titulo-principal: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   


$titulos:(
    principal: 5rem,
    secundario: 3rem,
    terciario: 2rem,
    normal: 1.5rem,
    );